# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# Editors and operating systems
.DS_Store
.idea/
.vscode/
